MONGO_URI=mongodb://localhost:27017/ganapati-vahi
JWT_SECRET=Gnapati_Bappa_Moraya_Mangala_Murti_Moraya_2026
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
PORT=5000
